<h3><%= @title %></h3>

<form action="/polls/<%= @poll_id %>/opinions" method="post" class="pure-form">
  <table class="pure-table pure-table-bordered">
    <thead>
      <th>Option</th>
      <th>Votes</th>
      <% for name in @opinions.keys %>
        <th><%= name %></th>
      <% end %>
    </thead>
    <tbody>
      <% @options.each do |option, votes| %>
        <tr>

          <td>
            <label for="<%= option %>" class="pure-checkbox">
              <input id="<%= option %>" name="<%= option %>" type="checkbox" value="">
              <%= option %>
            </label>
          </td>

          <td>
            <%= votes %>
          </td>

          <% @opinions.each do |name, opinion| %>
            <% vote = opinion.include?(option)? "yes" : "no" %>
            <td class="vote-<%= vote %>"><%= vote %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class="pure-control-group">
    <label for="name">Your Name</label>
    <input id="name" name="name" type="text" placeholder="tealover62">
  </div>

  <br>
  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
  </div>
</form>

<br>
Suggestion: <strong><%= @suggestions.join("</strong> or <strong>") %></strong> (<%= @options[@suggestions[0]] %> votes)
