Here are your options:

<form action="/polls/<%= @poll_id %>/opinions" method="post" class="pure-form">
  <% @options.each do |option, votes| %>
    <!-- <input type="checkbox" name="<%= option %>"></input> -->
    <label for="<%= option %>" class="pure-checkbox">
      <input id="<%= option %>" name="<%= option %>" type="checkbox" value="">
      <%= option %> (<%= votes %> votes)
    </label>
  <% end %>
  <input type="submit"/>
</form>
